html{
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    display: none;;
}
canvas{
    background-color: black;
}